scikit-learn
transformers~=4.8.2
torch==1.9.0+cu111
tqdm
pandas
numpy
icecream
stanza
sentencepiece
spacy[cu111]
allennlp
allennlp-models
clean-text
unidecode
TorchCRF

# Viz
networkx
pyvis
matplotlib
seaborn

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
