scikit-learn
transformers>=4.8.2
torch==1.8.1+cpu
tqdm
pandas
numpy
icecream
stanza
sentencepiece
allennlp
allennlp-models

# Viz
networkx
pyvis

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
