scikit-learn
transformers>=4.8.2
torch==1.8.1+cpu
tqdm
pandas
numpy
icecream
stanza
sentencepiece
spacy
allennlp
allennlp-models
clean-text
unidecode
TorchCRF

# Viz
networkx
pyvis
matplotlib
seaborn

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html
